{% extends "sampleApp/base.html" %}
{% load static %}
{% block head %}

{% endblock %}
{% block content %}
    <h1>Create comment</h1>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <input type="submit" value="Create">
        </form>
        <div class="errors">
            {% for field, error in form.errors.items %}
                <div class="error_element">
                    {{ error|striptags }}
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock content %}