{% load static %}
<link rel="stylesheet" href="{% static 'styles/comments.css' %}">
<script type="text/javascript">
    const toggleModal = (commentId) => {
        let modal = document.getElementById("modal-" + commentId.toString());
        modal.style.display = modal.style.display === "block" ? "none" : "block";

        window.onclick = function (event) { //handle clicking outside the modal
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
</script>
<div class="comments-wrapper">
    <h2 class="comments-header">Comments:</h2>
    <a href="{% url 'comment' object.id %}" class="add-comment">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
        </svg>
    </a>
    {% for comment in comments %}
        <div class="comment">
            <div class="comment-info-content">
                <div class="comment-info-wrapper">
                    <img class="comment-creator-img" src="{{ comment.creator.userprofile.image.url }}"
                         alt="comment_creator_img">

                    <p class="comment-created-date">{{ comment.createdDate|date:"d/M/y H:i" }}</p>
                </div>
                <div class="comment-content-wrapper">
                    <a href="{% url 'user-posts' comment.creator.username %}" class="comment-creator">
                        {{ comment.creator.username }}
                    </a>
                    <p class="comment-content">
                        {{ comment.content }}
                    </p>
                </div>
            </div>
            {% if comment.creator == user %}
                <div class="comment-delete-wrapper">
                    <button id="comment-delete-{{ comment.id }}" onclick="toggleModal({{ comment.id }})">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"></path>
                        </svg>
                    </button>
                </div>
                <div id="modal-{{ comment.id }}" class="comment-delete-modal">
                    <div>
                        <p>Are you sure?</p>
                        <div class="comment-delete-modal-buttons">
                            <a class="comment-delete" href="{% url 'comment-delete' object.id comment.id %}">
                                Delete
                            </a>
                            <button class="comment-delete-cancel" onclick="toggleModal({{ comment.id }})">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>