{% extends "sampleApp/base.html" %}
{% load static %}
{% block head %}
    <style>
        #content-wrapper {
            max-width: 500px;
        }

        #content-wrapper form {
            width: 100%;
            display: grid;
            grid-template-columns: 100%;
            row-gap: 10px;

            & input, & label {
                font-size: 16px;
            }

            & textarea {
                border-width: 0;
                border-radius: 4px;
                background: white;
                font-size: 14px;
                width: 100%;
                height: 100px;
                resize: vertical;
            }

            & input[type="submit"] {
                max-width: 150px;
                border: 0;
                border-radius: 3px;
                background: white;
                grid-column: 1/3;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        #content-wrapper form div {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Create comment</h1>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <input type="submit" value="Create">
        </form>
    </div>
{% endblock content %}