{% extends "sampleApp/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styles/post.css' %}">
    <style>
        body {
            display: block;
        }

        #content-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    </style>
    <script type="text/javascript">
        const posts = document.getElementsByClassName("post")
        for (let post in posts) {
            post.addEventListener(`click`, handle);
        }

        function handle(evt) {
            console.log('evt')
            console.log(evt)
        }
    </script>
{% endblock %}

{% block content %}
    {% for object in posts %}
        {% include 'sampleApp/post.html' %}
    {% endfor %}

    {% if is_paginated %}
        {% include 'sampleApp/pagination.html' %}
    {% endif %}

{% endblock content %}