<div class="like_post_wrapper">
    {% if user.is_authenticated %}
        <form action="{% url 'post-like' object.id %}" method="POST">
            {% csrf_token %}


            {% if user in object.likes.all %}
                <button type="submit" name="post_id" value="{{ object.id }}">
                    Unlike
                </button>
            {% else %}
                <button type="submit" name="post_id" value="{{ object.id }}">Like
                </button>
            {% endif %}

            <input type="hidden" name="next" value="{{ request.path }}">
        </form>
    {% else %}
        <a href="{% url 'login' %}?next={{ request.path }}" style="text-decoration: none">
            <button type="submit" name="post_id" value="{{ object.id }}">
                Like
            </button>
        </a>
    {% endif %}
</div>