<style>
    #content-wrapper .post .post-likes-wrapper .like-post button {
        padding: 0;
        border: 0;
        background: none;

        &:hover {
            transform: scale(1.1);
        }
    }
</style>
<div class="like-post">
    {% if user.is_authenticated %}
        <form class="like-post-form" action="{% url 'post-like' object.id %}" method="POST">
            {% csrf_token %}
            {% if user in object.likes.all %}
                <button class="unlike-button" type="submit" name="post_id" value="{{ object.id }}">
                    <svg class="w-[48px] h-[48px] text-gray-800 dark:text-white" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         viewBox="0 0 24 24">
                        <path d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z"></path>
                    </svg>
                </button>
            {% else %}
                <button class="like-button" type="submit" name="post_id" value="{{ object.id }}">
                    <svg class="w-[48px] h-[48px] text-gray-800 dark:text-white" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7"
                              d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"></path>
                    </svg>
                </button>
            {% endif %}
            <input type="hidden" name="next" value="{{ request.path }}">
        </form>
    {% else %}
        <a class="login-redirect" href="{% url 'login' %}?next={{ request.path }}" style="text-decoration: none">
            <button class="like-button not-logged" type="submit" name="post_id" value="{{ object.id }}">
                <svg class="w-[48px] h-[48px] text-gray-800 dark:text-white" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7"
                          d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"></path>
                </svg>
            </button>
        </a>
    {% endif %}
</div>