<style>
    #content-wrapper .post .post-likes-wrapper .like-post button {
        font-size: 20px;
        box-shadow: 0 0 5px 0 #505050;

        &:hover {
            box-shadow: inset 0 0 5px 0 #505050;
        }
    }
</style>
<div class="like-post">
    {% if user.is_authenticated %}
        <form class="like-post-form" action="{% url 'post-like' object.id %}" method="POST">
            {% csrf_token %}
            {% if user in object.likes.all %}
                <button class="unlike-button" type="submit" name="post_id" value="{{ object.id }}">
                    Unlike
                </button>
            {% else %}
                <button class="like-button" type="submit" name="post_id" value="{{ object.id }}">
                    Like
                </button>
            {% endif %}
            <input type="hidden" name="next" value="{{ request.path }}">
        </form>
    {% else %}
        <a class="login-redirect" href="{% url 'login' %}?next={{ request.path }}" style="text-decoration: none">
            <button class="like-button not-logged" type="submit" name="post_id" value="{{ object.id }}">
                Like
            </button>
        </a>
    {% endif %}
</div>