{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Super-App</title>
    <link rel="stylesheet" href=" {% static 'styles/login.css' %} ">
</head>
<body>
<div class="baner">Super Social Media App</div>
<div class="form-wrapper">
    <form action="">
        <input type="text" name="nickname" id="nickname" placeholder="Nickname">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="button" value="Sign in">
        <a href="register" target="_blank">Create account</a>
    </form>
</div>
</body>
</html>


{#        <input type="text" name="nickname" id="nickname" placeholder="Nickname">#}
{#        <input type="password" name="passwd" id="passwd" placeholder="Password">#}