{% extends "sampleApp/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href=" {% static 'styles/login.css' %} ">
{% endblock %}
{% block content %}
    <h1 class="form-header">Log in</h1>
    <div class="form-wrapper">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <input type="submit" value="Login">
        </form>
    </div>

    <div class="errors">
        {% for field, error in form.errors.items %}
            <div class="error-element">
                {{ error|striptags }}
            </div>
        {% endfor %}
    </div>
    <p class="register-paragraph">
        Already have an account?
        <a href="{% url 'register' %}" class="register-link">Register</a>
    </p>
{% endblock content %}