<style>
    #content-wrapper .pagination-wrapper{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 10px 0;
    }
    #content-wrapper .pagination-wrapper * {
            border: 0;
            color: black;
            border-radius: 3px;
            background: white;
            padding: 5px;
            line-height: 1;
            font-size: 16px;
            font-weight: normal;

            &:hover {
                transform: scale(1.1);
                box-shadow: 0 0 2px 0 #505050;
            }
        }

</style>
<div class="pagination-wrapper">
    {% if page_obj.has_previous %}
        <a href="?page=1" class="first">1</a>
        ...
        <a href="?page={{ page_obj.previous_page_number }}" class="prev">
            <<
        </a>
    {% endif %}
    <a href="?page={{ page_obj.number }}" class="current">{{ page_obj.number }}</a>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="next" disabled="true">
            >>
        </a>
        ...
        <a href="?page={{ page_obj.paginator.num_pages }}" class="last">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
</div>