{% extends "sampleApp/base.html" %}
{% load static %}
{% block head %}
    <style>
        #content-wrapper {
            max-width: 400px;
            overflow: visible;
            text-align: center;
        }

        h1 {
            font-size: 25px;
        }

        form {
            & div {
                justify-content: center;
                display: flex;
                flex-direction: row;
                gap: 20px;
            }

            & input[type="submit"],
            & p,
            & a {
                font-size: 16px;
            }

            & input[type="submit"] {
                background: #ff8aa0;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Delete post</h1>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <p>Are you sure?</p>
            <div>
                <input type="submit" value="Delete" class="button-28">
                <a href="{% url 'post-detail' object.id %}" class="button-28">Cancel</a>
            </div>
        </form>
        <div class="errors">
            {% for field, error in form.errors.items %}
                <div class="error_element">
                    {{ error|striptags }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}