{% extends "sampleApp/base.html" %}
{% load static %}
{% block head %}
    <style>
        .hidden {
            display: none;
        }
    </style>
    <script type="text/javascript">
        function delete_attachment() {
            let btn = document.getElementById('attachment-delete')
            btn.classList.add("hidden")
            btn = document.getElementById('attachment-delete-link')
            btn.classList.remove("hidden")
            btn = document.getElementById('attachment-delete-cancel')
            btn.classList.remove("hidden")
        }

        function foo() {
            console.log("abc")
        }

        function cancel() {
            let btn = document.getElementById('attachment-delete')
            btn.classList.remove("hidden")
            btn = document.getElementById('attachment-delete-link')
            btn.classList.add("hidden")
            btn = document.getElementById('attachment-delete-cancel')
            btn.classList.add("hidden")
        }
    </script>
{% endblock %}
{% block content %}
    <h1>Create post</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_div }}
            {{ post_attachment_form.as_div }}
            <input type="submit" value="Create">
        </form>

        <div>
            {% if attachments %}
                currently uploaded attachments:

                {% for attachment in attachments %}
                    <div>
                        <a href="{{ attachment.attachment.url }}" target="_blank">{{ attachment.filename }}</a>

                        <button id="attachment-delete" class="" onclick="delete_attachment()">x</button>

                        <a class="attachment-delete hidden" id="attachment-delete-link"
                           href="{% url 'attachment-delete' post.id attachment.id %}">Yes, delete</a>

                        <button class="attachment-delete hidden" id="attachment-delete-cancel"
                                onclick="cancel()">
                            Cancel
                        </button>

                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="errors">
            {% for field, error in form.errors.items %}
                <div class="error_element">
                    {{ error|striptags }}
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock content %}