{% extends "sampleApp/base.html" %}
{% load static %}
{% block head %}

{% endblock %}
{% block content %}
    <h1>Create post</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_div }}
{#            <input type="file" value="{{ PostAttachments.attachment.filename }}" name="file" multiple>#}
            {{ post_attachment_form.as_div }}

            <input type="submit" value="Create">

        </form>
        <div class="errors">
            {% for field, error in form.errors.items %}
                <div class="error_element">
                    {{ error|striptags }}
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock content %}