{% extends "sampleApp/base.html" %}
{% block head %}
    <style>
        .post-creator-img {
            width: auto;
            max-height: 50px;
        }

    </style>
{% endblock %}
{% block content %}
    <h1>Post details:</h1>
    <div class="post">
        <h3>
            Created by:
            <a href="{% url 'user-posts' object.creator.username %}" class="post-creator">
                {{ object.creator }}
            </a>
        </h3>
        <img class="post-creator-img" src="{{ object.creator.userprofile.image.url }}" alt="post_creator_img">
        <p class="post-created-date">Created date: {{ object.createdDate|date:"d M y H:i" }}</p>
        <div class="post-content-wrapper">
            Content:
            <p class="post-content">
                {{ object.content }}
            </p>
        </div>
        <div class="post-likes-counter">Likes: {{ object.number_of_likes }}</div>
        {% include 'sampleApp/like_post.html' %}
    </div>

    <div><h3>comment section</h3></div>

    <a href="{% url 'login' %}">jakis link - login</a>
    {% if object.creator == user %}

        <a href="{% url 'post-delete' object.id %}">post delete</a>
        <a href="{% url 'post-update' object.id %}">post update</a>
    {% endif %}
{% endblock content %}