{% extends "sampleApp/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href=" {% static 'styles/register.css' %} ">
{% endblock %}
{% block content %}
    <h1>Register User</h1>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <input type="submit" value="Register">
        </form>
        <div class="errors">
            {% for field, error in form.errors.items %}
                <div class="error_element">
                    {{ error|striptags }}
                </div>
            {% endfor %}
        </div>
    </div>


    <a href="{% url 'login' %}">jakis link - login</a>
{% endblock content %}