{% extends "sampleApp/base.html" %}
{% block head %}
    <style>
        .post-creator-img {
            width: auto;
            max-height: 50px;
        }

        .post {
            display: grid;
            grid-auto-flow: column;
        }

        .post-content-wrapper {
            width: 300px;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>{{ view.kwargs.username }} posts:</h1>
    <div>
        {% for object in posts %}
            <div class="post">
                <a href="{% url 'post-detail' object.id %}" class="post-details">details</a>
                <h3>
                    <a href="{% url 'user-posts' object.creator.username %}" class="post-creator">
                        {{ object.creator }}
                    </a>
                </h3>
                <img class="post-creator-img" src="{{ object.creator.userprofile.image.url }}" alt="post_creator_img">
                <p class="post-created-date">Created date: {{ object.createdDate|date:"d M y H:i" }}</p>
                <div class="post-content-wrapper">
                    Content
                    <p class="post-content">
                        {{ object.content }}
                    </p>
                </div>
                <div class="post-likes-counter">Likes: {{ object.number_of_likes }}</div>
                {% include 'sampleApp/like_post.html' %}
            </div>
            <hr>
        {% endfor %}
    </div>

    {% if is_paginated %}
        {% include 'sampleApp/pagination.html' %}
    {% endif %}

{% endblock content %}