{% extends "sampleApp/base.html" %}
{% block content %}
    <h1>{{ view.kwargs.username }} posts:</h1>
    <div>
        {% for item in posts %}
            <div>
                <a href="{% url 'post-detail' item.id %}">details</a>
                <h3>Creator: <a href="{% url 'user-posts' item.creator.username %}">{{ item.creator }}</a></h3>
                <p>Creator-img: <img src="{{ item.creator.userprofile.image.url }}" alt=""></p>
                <p>Created date: {{ item.createdDate|date:"d M y H:i" }}</p>
                <br>
                <p>Content <br>{{ item.content }}</p>
            </div>
        {% endfor %}
    </div>

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1">1 ...</a>
            <a href="?page={{ page_obj.previous_page_number }}">prev</a>
    	{% endif %}
            <a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
    	{% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">... {{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}