{% extends "sampleApp/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styles/post.css' %}">
    <style>
        #content-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        #content-wrapper .user-posts-header {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="user-posts-header">{{ view.kwargs.username }} posts:</h1>

    {% for object in posts %}
        {% include 'sampleApp/post.html' with object=object %}
    {% endfor %}


    {% if is_paginated %}
        {% include 'sampleApp/pagination.html' %}
    {% endif %}

{% endblock content %}