html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.58);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
    padding: 20px 0;
}

#content-wrapper {
    overflow: auto;
    width: 90%;
    /*height: 90%;*/
    margin: auto;
    background: rgb(255 255 255 / 80%);
    padding: 15px;
}