#content-wrapper .errorlist {
    display: none;
}

#content-wrapper {
    max-width: 500px;
}

#content-wrapper .error-element {
    background: #ff000085;
    text-align: center;
    border-radius: 4px;
    padding: 2px;
    margin: 5px 0;
}

#content-wrapper .register-paragraph {
    margin-top: 15px;
    font-size: 15px;
}

#content-wrapper .errors {
    margin-top: 15px;
    font-size: 13px;
}

#content-wrapper .form-header {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

#content-wrapper form {
    margin: auto;
    width: 70%;
    display: grid;
    justify-content: center;
    grid-auto-flow: row;
    row-gap: 10px;

    & input, & label {
        font-size: 16px;
    }

    & input[type="text"],
    & input[type="password"] {
        border-width: 0;
        border-radius: 4px;
        background: white;
        font-size: 16px;
    }

    & input[type="submit"] {
        width: 50%;
        border: 0;
        border-radius: 3px;
        background: white;

        &:hover {
            transform: scale(1.1);
        }
    }
}
