#content-wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
}

#content-wrapper .post .post-likes-wrapper {
    width: fit-content;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 15px;
    background: white;
    padding: 5px;
    border-radius: 5px;

    & .post-likes-counter {
        font-size: 20px;
    }

}

#content-wrapper .post .attachments {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#content-wrapper .post .attachment {
    display: flex;
    gap: 10px;

    & .img-attachment-link {
        display: block;
        width: 90%;
        margin: auto;

        & img {
            width: 100%;

            &:hover {
                box-shadow: 0 0 3px 0 #505050;
            }
        }
    }
}

#content-wrapper .post .file-attachment {
    display: flex;
    gap: 10px;
    background: white;
    padding: 5px;
    border-radius: 5px;

    &:hover {
        box-shadow: 0 0 3px 0 #505050;
    }

    & a {
        font-size: 18px;
        margin: auto;
    }

    & .download-img {
        max-width: 25px;

        &:hover {
            /*border: 1px solid #505050;*/
            border-radius: 3px;
            transform: scale(1.1);
            box-shadow: inset 0 0 5px 0 #505050;
        }
    }
}

#content-wrapper .post-info-wrapper {
    display: flex;
    flex-direction: row;
    font-size: 16px;

    & .post-creator {
        font-size: 30px;
        font-weight: 700;
        margin: auto auto auto 20px;
        color: black;

        &:hover {
            color: #737373;
        }
    }

    & .post-creator-img {
        width: auto;
        max-height: 80px;
        max-width: 80px;
        padding: 5px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 5px 0 #fff;
    }

    & .post-created-date {
        width: 100%;
        text-align: right;
        margin: auto;
    }
}

#content-wrapper .post {
    box-shadow: 0 0 10px 1px #575757;
    margin-right: 40px;
    padding: 10px;
    height: fit-content;
}

#content-wrapper .post .post-content {
    font-size: 16px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

#content-wrapper button {
    font-size: 16px;
    border: 0;
    border-radius: 3px;
    background: white;

    &:hover {
        transform: scale(1.1);
    }

}
