#content-wrapper .errorlist,
#content-wrapper form div:last-of-type .helptext {
    display: none;
}

#content-wrapper > div {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
}

#content-wrapper .error-element {
    background: #ff000085;
    text-align: center;
    border-radius: 4px;
    padding: 2px;
    margin: 5px 0;
}

#content-wrapper .register-paragraph {
    margin-top: 15px;
    font-size: 15px;
}

#content-wrapper .errors {
    margin-top: 15px;
    font-size: 13px;
}

#content-wrapper .form-header {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

#content-wrapper form div {
    display: grid;
    grid-auto-flow: row;
    row-gap: 2px;

    & input {
        grid-row: 2
    }

    & .helptext {
        font-size: 12px;

        & ul {
            padding-left: 15px;
            margin: 5px 0;
        }
    }

    & input {
        max-width: 250px;
    }
}

#content-wrapper form {
    width: 100%;
    display: grid;
    /*justify-content: center;*/
    grid-auto-flow: row;
    row-gap: 10px;

    & input, & label {
        font-size: 16px;
    }

    & input[type="text"],
    & input[type="password"] {
        border: 2px solid #1A1A1A;
        border-radius: 4px;
        background: white;
        font-size: 16px;
    }

    & input[type="submit"] {
        max-width: 150px;
        min-height: 40px;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    #content-wrapper {
        & > div {
            grid-template-columns: 1fr;

            & form {
                max-width: 400px;
                margin: auto;
            }

            & .errors {
                max-width: 400px;
                margin: auto;
                width: 100%;
            }
        }

        & .register-paragraph {
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
